.flex-container-3 {
    display: flex;
    color: black;
    flex-wrap: wrap;
    margin: 15px;
}

.flex-item-3-1 {
    flex: 0.8;
}

.flex-item-3-2 {
    flex: 0.2;
    color: #616161;
}

.cardKiClass {
    display: inline-table;
    margin: 10px;
}